---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="assets/youtubechannel.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-jetblack text-ghostwhite relative">
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.5); /* Color semitransparente */
		border-radius: 4px; /* Bordes redondeados */
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: rgba(
			255,
			255,
			255,
			0.7
		); /* Cambio de color al pasar el cursor */
	}

	*::-webkit-scrollbar-track {
		background-color: transparent; /* Fondo transparente */
	}
</style>
